body{ /*este codigo de css lo saque de uiGradients PARA TODOS LOS FONDOS DE TODAS LAS PAGINAS*/
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-white{
    background-color: #ffffff;
}

h1{
    text-align: center;
}

main{
    margin: 3%;
}

.banner-inicio{
    width: 100%;
}

.imagen-galeria{ /*TODAS LAS FOTOS DE GALERIA fotos.html*/
    width: 300px;
    height: 200px; 
}

div.desc{    /* LOS NOMBRES DE LOS JUGADORES fotos.html*/
    padding: 15px;
    text-align: center;
    color:white;
}

.tituloGaleria{ /*titulo de apartado fotos.html*/
    color: red;
}

.letrasTitulo{
    color:white;
    font-size: 120%;
    padding-left: 30px;     /* margin: fuera padding: dentro*/
    padding-top: 20px;
}

.carousel-item img { /*navbar de fotos galeria- fotos.html*/
    width: 100%;
    height: 800px;
    margin-top: 50px;
}

.copyright{
    color:rgb(209, 46, 46);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:18px;
    font-size:larger;
    margin-left: 30px;
}

.fondoContacto{
    background-image:url(img/contactoFotos/monumental.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
    bottom:0;
}

.redes{
    font-size: 35px;
    margin:0 18px;
    padding-left: 38%;
    background-color:rgb(207, 175, 175);
}

.fa-facebook:hover{
    color:rgb(57, 57, 169);
    font-size: 41px;
}
.fa-instagram:hover{
    color:rgb(185, 19, 185);
    font-size: 43px;
}
.fa-twitter:hover{
    color:rgb(2, 2, 63);
    font-size: 42px;
}

.fotosDerecha{
    float: right;
    width: 350px;
    height: auto;
    margin-left: 15px;
}

.parrafos{
    color:white;
}

.fotosIzquierda{
    float: left;
    width: 90%;
    height: 200px;
}

.listaVertical{
    border-style: solid;
    float: left;
    background-color:#353c3f;
    font-size: 16px;
    padding-left: 15px;
}

ol{
    color:black;
}

.parrafoGallardo{
    color: #ffffff;
}

.listaVertical h2{
    color:red;
}

.imagenesNoticias{
    width: 60%;
}

.imagenNoticiaGallardo{
    width: 30%;
}


.footerEspecial{
    position: absolute; 
    width: 100%;
}

.copyContacto{
    background-color:rgb(207, 175, 175);
}   

.fotoAsociar{
    min-width: 100%; 
    width: 100%; 
    height: 100%;
}

